*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    background:#ececec;
    height:100vh;
}

.container{
    display:flex;
    height:100vh;
}

/* LEFT */
.editor-panel{
    width:40%;
    background:white;
    padding:20px;
    display:flex;
    flex-direction:column;
}

textarea{
    flex:1;
    margin-top:15px;
    background:#111;
    color:#00ff99;
    border:none;
    border-radius:10px;
    padding:15px;
    resize:none;
    font-family:monospace;
}

.buttons{
    display:flex;
    gap:10px;
    margin-top:15px;
}

button,
select{
    padding:12px;
    border:none;
    border-radius:8px;
}

/* RIGHT */
.preview-panel{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

#preview{
    background:white;
    padding:40px;
    border-radius:20px;
}

svg{
    width:350px;
}
